.App {
  text-align: center;
  background-color: hsl(201deg 61% 39%);
  height: 100%;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.attribute {
  font-size: 12px;
  color: rgba(24, 23, 23, 0.26);
  font-style: none;
  bottom: 20px;
}
